    <ul class="mr-5">
        {% for category in subCategories %}
        <li><a href="{{ path('videos.index', {'categoryId' : category.id, 'name': category.name|lower|slugify }) }}">{{ category.name }}</a></li>
            {% if category.getSubCategories()|length > 0  %}
                {% include 'front/includes/_sub_category.html.twig' with  {'subCategories': category.subCategories} only %}
            {% endif%}
{#        <ul>#}
{#            <li><a href="#">Surprising</a></li>#}
{#            <li><a href="#">Exciting</a></li>#}
{#            <ul>#}
{#                <li><a href="#">Strange</a></li>#}
{#                <li><a href="#">Relaxing</a></li>#}
{#            </ul>#}
{#        </ul>#}
        {% endfor %}
    </ul>

