
{% extends 'admin/base.html.twig' %}

{% block main %}
<h2>Editing category</h2>

<form action="{{ path('categories.update', {'id' : category.id}) }}" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="name" class="form-control is-invalid" id="validationServer01" placeholder="Category name" value="{{ category.name }}"
        required>
    <br>
    <label for="inlineFormCustomSelect">Parent:</label>
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="parent_category_id">
        <option value="" {% if category.parentCategory is null %} selected {% endif %}>--No parent--</option>
        {% include 'admin/includes/_edit_admin_category.html.twig' with  {'subCategories': results, 'index': 0, 'parent_id': category.parentCategory.id is defined ? category.parentCategory.id, 'isEdit': true} only %}
    </select>
{#    <div class="invalid-feedback">#}
{#        Category already exists!#}
{#    </div>#}
    <button class="btn btn-primary mt-3" type="submit">Save</button>
</form>

{%  endblock %}